      
@model ImageServiceWebApp.Models.LogsModel

@{
    ViewBag.Title = "Logs";
}

<div>
    @using (Html.BeginForm("Logs", "Logs", FormMethod.Post))
    {

        <div>
            <h2>
                please enter your Log type:
            </h2>
            @Html.TextBoxFor(m => m.TypeChose, new { @class = "form-control" })
            <input type="submit" id="show" style="margin:3px" class="butten btn-info"  value="Submit"/>
        </div>

    }

</div>

`<h2>Logs list:</h2>

<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Message
        </th>
    </tr>

    @foreach (var item in Model.LogsFilter)
            {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Type)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Message)
            </th>

        </tr>}

</table>
   