@model ImageServiceWebApp.Models.PhotosModel

@{
    ViewBag.Title = "PhotoViewer";
}

<h2>PhotoViewer</h2>

<div  style="border:1px solid lightblue; margin:5px ; padding:10px;" >
    <img src="@Url.Content(@"~\C:\Users\nir\Desktop\a\test.jpg")"  style="border:0.5px solid blue;"/> 
    <h6>Name: </h6>
    <h6>Date: </h6>
    <input type="button" value="Delete" id="Delete" class="butten btn-danger"  size="8" /> <input type="button" value="Back" class="butten btn-info" id="Back" size="8"/>
</div>


<script>
    $("#Back").click(function () {
        var url  = "/Photos/Back"
        $.post(url, function () {
            window.location.href = "Photos";
        })
    });

    $("#Delete").click(function () {
        window.location.href = "DeletePhoto";
    });
</script>
