@model ImageServiceWebApp.Models.PhotosModel

@{
    ViewBag.Title = "PhotoViewer";
}


<div  style="border:1px solid lightblue; margin:10px ; padding:10px;" >
    <h1 style="font-family:'Lucida Calligraphy'; margin-top:5px">PhotoViewer</h1>
    <img src="@Url.Content(Model.viewPhoto.PhotoThumbPath)" style="border:0.5px solid blue; margin:-3px"/> 
    <h4 style="font-family:Courier New, Courier, monospace">Name: @Model.viewPhoto.Name</h4>
    <h4 style="font-family:Courier New, Courier, monospace">Date: @Model.viewPhoto.Month / @Model.viewPhoto.Year</h4>
    <input type="button" value="Delete" id="Delete" class="butten btn-danger" size="8" />
    <input type="button" value="Back" class="butten btn-primary" id="Back" size="8"/>
</div>


<script>
    $("#Back").click(function () {
        var url  = "/Photos/Back"
        $.post(url, function () {
            window.location.href = "Photos";
        })
    });

    $("#Delete").click(function () {
        window.location.href = "DeletePhoto";
    });
</script>
