@model ImageServiceWebApp.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>


<div class="container">
    <div class="row">
        @{
            foreach (var item in Model.ListPhotos)
            {
                <div class="col-md-4 col-sm-5 col-lg-3"  style="border:1px solid lightblue; margin:5px ; padding:10px;max-width:300px" >
                    <img src="@Url.Content(item.PhotoThumbPath)" class="img-circle" style="max-width:200px; max-width:240px; border:0.5px solid blue; border-radius:50%" />
                    <h6>Name: </h6>
                    <h6>Date: </h6>

                    <a href="@Url.Action("PhotoViewer", new {showThumbPath = "check"})" class="butten btn-info"  style="border:solid blue 1px; font-size:15px"  role="button">View</a> <a href="@Url.Action("DeletePhoto", new {showThumbPath = "check"})" class="butten btn-danger" style="border:blue solid 1px; font-size:15px" role="button">Delete</a> 
                   
                </div>
            }
        }
    </div>

</div>

