@model ImageServiceWebApp.Models.ImageWebModel
@{
    ViewBag.Title = "ImageWeb";
}

<h2>Image Web</h2>

@{ 
    var txt = "";
    if (Model.IsConnected)
    {
        txt = "on";
    } else
    {
        txt = "off";
    }
}
 <h3 > service is @txt</h3>

<h4> @Model.StudentsInfo[0].FirstName</h4>